*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  scroll-behavior: smooth;  
  list-style: none; 
  text-decoration: none; 
}
body{
  width: 100%;
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
}
H1{
  font-size: 5rem; /* Adjust the size as needed */
  color: #3498db; /* Change the color as needed */
  text-align: center;
}
