/* Existing CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/bogrands\ \(5\).jpeg);
  background-position: center;
}
.wrapper {
  position: relative;
  width: 750px;
  height: 450px;
  background: transparent;
  border: none;
  box-shadow: 0 0 10px #302222d3;
  overflow: hidden;
}
.wrapper .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #000000da;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}
.wrapper .form-box.register {
  right: 0;
  padding: 0 40px 0 60px;
  display: none;
}
.form-box h2 {
  font-size: 32px;
  color: #000000da;
  text-align: center;
}
.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
  padding-top: 15px;
}
.input-box input {
  width: 100%;
  height: 100%;
  top: 10px;
  padding-left: 10px;
  background: #000000da;
  border: 2px;
  color: #fff;
  border-radius: 30px;
  outline: none;
  border-bottom: 2px #fff;
}
.input-box label {
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: bolder;
  color: #000000;
  pointer-events: none;
}
.input-box i {
  position: absolute;
  top: 0;
  right: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bolder;
  color: #c0c0c0;
}
.btn button {
  position: relative;
  top: 15px;
  left: 20%;
  width: 60%;
  height: 40px;
  background: rgba(185, 184, 184, 0.5);
  border: rgba(0, 0, 0, 0.7);
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}
.btn button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c0c0c0, #c0c0c0, #c0c0c0);
  z-index: -1;
  transition: .5s;
}
.btn button:hover::before {
  top: 0;
}
.form-box .logreg-link {
  font-size: 14.5px;
  font-weight: 800;
  color: #000000da;
  text-align: center;
  margin: 50px 0 5px;
}
.form-box .ckb {
  padding-left: 5px;
}
.logreg-link p a {
  color: #9391f3;
  font-weight: 800;
  text-decoration: none;
  font-weight: 600;
}
.logreg-link p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: auto;
    box-shadow: none;
    background: #000000a1;
  }
  .wrapper .form-box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    background: #ffffff96;
    border-radius: 50px;
  }
  .wrapper .form-box.login {
    left: 0;
    padding: 20px;
  }
  .wrapper .form-box.register {
    right: 0;
    padding: 20px;
    display: none;
  }
}